@model IEnumerable<PokedexMVC.Models.Pack>

<h2>Lista de Pacotes</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Preço</th>
            <th>Total Comprado</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pack in Model)
        {
            <tr>
                <td>@pack.Name</td>
                <td>@pack.Price</td>
                <td>@pack.TotalBought</td>
                <td>
                    <a asp-action="Details" asp-route-id="@pack.Id" class="btn btn-info">Detalhes</a>
                    <a asp-action="Edit" asp-route-id="@pack.Id" class="btn btn-warning">Editar</a>
                    <a asp-action="Delete" asp-route-id="@pack.Id" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Adicionar Novo Pacote</a>
