@model PokedexMVC.Models.Region

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Região</h2>

<div>
    <h4>Região</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nome
        </dt>
        <dd class="col-sm-10">
            @Model.Name
        </dd>

        <dt class="col-sm-2">
            Criado em
        </dt>
        <dd class="col-sm-10">
            @Model.CreatedOn.ToString("yyyy-MM-dd HH:mm:ss")
        </dd>

        <dt class="col-sm-2">
            Criado por
        </dt>
        <dd class="col-sm-10">
            @Model.CreatedByUser?.Email
        </dd>

        @if (Model.UpdatedOn.HasValue)
        {
            <dt class="col-sm-2">
                Atualizado em
            </dt>
            <dd class="col-sm-10">
                @Model.UpdatedOn?.ToString("yyyy-MM-dd HH:mm:ss")
            </dd>
        }
        else
        {
            <dt class="col-sm-2">
                Atualizado em
            </dt>
            <dd class="col-sm-10">
                <i>Não atualizado</i>
            </dd>
        }

        @if (!string.IsNullOrEmpty(Model.UpdatedByUserId))
        {
            <dt class="col-sm-2">
                Atualizado por
            </dt>
            <dd class="col-sm-10">
                @Model.UpdatedByUser?.Email
            </dd>
        }
        else
        {
            <dt class="col-sm-2">
                Atualizado por
            </dt>
            <dd class="col-sm-10">
                <i>Não atualizado</i>
            </dd>
        }
    </dl>
</div>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Voltar à Lista</a>
</p>
