@model PokedexMVC.Models.Region

@{
    ViewData["Title"] = "Details";
}

<h2>Region</h2>

<div>
    <h4>Region</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Model.Name
        </dd>

        <dt class="col-sm-2">
            Created On
        </dt>
        <dd class="col-sm-10">
            @Model.CreatedOn.ToString("yyyy-MM-dd HH:mm:ss")
        </dd>

        <dt class="col-sm-2">
            Created By
        </dt>
        <dd class="col-sm-10">
            @Model.CreatedByUser?.Email
        </dd>

        @if (Model.UpdatedOn.HasValue)
        {
            <dt class="col-sm-2">
                Updated On
            </dt>
            <dd class="col-sm-10">
                @Model.UpdatedOn?.ToString("yyyy-MM-dd HH:mm:ss")
            </dd>
        }
        else
        {
            <dt class="col-sm-2">
                Updated On
            </dt>
            <dd class="col-sm-10">
                <i>Not updated</i>
            </dd>
        }

        @if (!string.IsNullOrEmpty(Model.UpdatedByUserId))
        {
            <dt class="col-sm-2">
                Updated By
            </dt>
            <dd class="col-sm-10">
                @Model.UpdatedByUser?.Email
            </dd>
        }
        else
        {
            <dt class="col-sm-2">
                Updated By
            </dt>
            <dd class="col-sm-10">
                <i>Not updated</i>
            </dd>
        }
    </dl>
</div>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</p>
