@model IEnumerable<PokedexMVC.Models.Region>

@{
    ViewData["Title"] = "Regiões";
}

<h2>Regiões</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Criado por</th>
            <th>Criado em</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var region in Model)
        {
            <tr>
                <td>@region.Name</td>
                <td>@region.CreatedByUserId</td> <!-- Isto agora exibirá o nome de utilizador em vez do GUID -->
                <td>@region.CreatedOn.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>
                    <a asp-action="Details" asp-route-id="@region.Id" class="btn btn-info">Detalhes</a>
                    <a asp-action="Edit" asp-route-id="@region.Id" class="btn btn-warning">Editar</a>
                    <a asp-action="Delete" asp-route-id="@region.Id" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Criar Nova Região</a>
