@model PokedexMVC.Models.Pokemon

<h2>Delete Pokémon</h2>

<h3>Are you sure you want to delete this?</h3>

<div>
    <h4>Pokémon</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Model.Name
        </dd>

        <dt class="col-sm-2">
            Base Attack Points
        </dt>
        <dd class="col-sm-10">
            @Model.BaseAttackPoints
        </dd>

        <dt class="col-sm-2">
            Base Health Points
        </dt>
        <dd class="col-sm-10">
            @Model.BaseHealthPoints
        </dd>

        <dt class="col-sm-2">
            Base Defense Points
        </dt>
        <dd class="col-sm-10">
            @Model.BaseDefensePoints
        </dd>

        <dt class="col-sm-2">
            Base Speed Points
        </dt>
        <dd class="col-sm-10">
            @Model.BaseSpeedPoints
        </dd>

        <dt class="col-sm-2">
            Created On
        </dt>
        <dd class="col-sm-10">
            @Model.CreatedOn.ToString("yyyy-MM-dd HH:mm:ss")
        </dd>

        <dt class="col-sm-2">
            Updated On
        </dt>
        <dd class="col-sm-10">
            @Model.UpdatedOn?.ToString("yyyy-MM-dd HH:mm:ss")
        </dd>

        <dt class="col-sm-2">
            Image
        </dt>
        <dd class="col-sm-10">
            @if (Model.Image != null && Model.Image.Length > 0)
            {
                <img src="data:image/png;base64,@Convert.ToBase64String(Model.Image)" alt="Image" class="img-thumbnail" style="max-width: 200px;" />
            }
            else
            {
                <span>No Image Available</span>
            }
        </dd>

        <dt class="col-sm-2">
            Region
        </dt>
        <dd class="col-sm-10">
            @Model.Region?.Name
        </dd>

        <dt class="col-sm-2">
            Created By User
        </dt>
        <dd class="col-sm-10">
            @Model.CreatedByUser?.Email
        </dd>

        <dt class="col-sm-2">
            Updated By User
        </dt>
        <dd class="col-sm-10">
            @Model.UpdatedByUser?.Email
        </dd>
    </dl>

    <form asp-action="DeleteConfirmed">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>
